

      <div class="page-content-wrapper">
          <!-- BEGIN CONTENT BODY -->
          <div class="page-content">
             <div class="portlet-body">
<div class="row">
                <div class="col-lg-4"></div>
<div class="col-lg-4">
  <div class="row">
    <div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <img src="../assets/layouts/layout2/img/Fiat-logo-login.png" alt="logo" class="logo-default" width="100"/>
        </div>
        <div class="col-lg-4"></div>
      </div>
  </div>
<form (submit)="loginUser($event)">
    <div class="input">
      <label>Username</label>
      <input type="text">
    </div>
    <!-- <div class="input">
      <label>Shift</label>
      <select>
        <option>Select Shift</option> 
        <option value="first">First Shift</option>
          <option value="second">Second Shift</option>
          <option value="third">Third Shift</option>
          <option value="general">General Shift</option>
      </select>
    </div> -->
    <div class="input">
        <label>Password</label>
        <input type="password">
      </div>
    <div class="input">
      <input type="submit" value="Login">
    </div>
    <div class="input">
      <a href="">Forgot Password</a>
    </div>

  </form>
</div>
<div class="col-lg-4"></div>

</div>
<div class="container">
  <!-- <div>{{logingObject.data || json}}</div> -->
  <!-- <h3>status: {{loginObject.status}}</h3> -->
  <!-- <ul>
  <li *ngFor="let yoyo of logingObject[data]">
    <span>auditor_id{{yoyo.auditor_id}}</span>
    <span>auditor_name{{yoyo.auditor_name}}</span>
    <span>firstName{{yoyo.firstName}}</span>
  </li>
  </ul> -->
  <!-- <h3>job: {{loginObject.job}}</h3>
  <h3>city: {{loginObject.city}}</h3>
  <h3>id: {{loginObject.id}}</h3>  -->
  <!-- <button (click)="saveUserProfile()">Click</button> -->
</div>

</div>
</div>
</div>
