.page-header.navbar .page-logo .logo-default {
    margin: 15px 0 0;
    width: 120px;
    height: 40px;
}
.page-header.navbar .page-logo {
    background: #26344b;
}
.padd-top{    padding-top: 15px;}